* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #fff;
}

main {
    padding: 34px 20px;
    margin-left: 21%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
    list-style: none;
}